<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
    <event name="publish:end:remote">
      <handler type="Sitecore.Support.ExtensionsLocalCacheCleare, Sitecore.Support.154332" method="ClearItemExtensionLocalCache"/>
    </event>
   </events>   
  </sitecore>
</configuration>